@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared styles stard */

.text-primary{
  color: #FF900E;
}
/* dark02 */
.text-geay{
  color: #424242;
}
/* dark03 */
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  border: none;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main >section{
  margin-top: 130px;

}
.section-title{
  font-size: 50px;
  font-weight: 700;
}
/* shared styles end */
/* header styles stard */

/* header styles end */
/* navbar related styles stard */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.display-flex{
  display: flex;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}
.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* navar related styles end */

/* banner related styles stard */
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-image{
  width: 100%;
}
/* banner related styles end */
/* team and feature related styles */
.teams{
  align-items: center;
  display: flex;
  margin: 50px;
    
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features{
  margin-left: 130px;
  max-width: 530px;
}

#quik-list{
  font-weight: 500;
}
/* some facts related styles start */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.fact-name{
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 10px;
}
.fact-description{
  max-width: 540px;
}
.some-facts{
  margin: 50px;
}
/* some facts related styles end */
/* sponsor related styles stard */
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
  filter: grayscale(100%);
}
/* sponsor related  styles end*/
/* responsive media query */
@media screen and (max-width: 576px){
  .navbar,
  .nav-links, 
  .teams
  
  {
    flex-direction: column;
  }
  .teams{
    margin: 0;
  }
  .team-img-container, 
   .facts-container,
    .sponsor-companies{
    grid-template-columns: 1fr;
  }
  .facts-container {
    justify-items: center;
    gap: 20px;
  }
  .sponsor-companies{
    justify-items: center;
    gap: 50px;
  }
  .our-features{
    margin: none;
    max-width: 100%;
    margin: 0;
  }
  .banner-title{
    font-size: 2rem;
  }
  .banner-content{
    max-width: 100%;
    padding: 0 15px;
  }
  .section-title{
    margin-left: 0px;
  }
}
/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px){
  .teams{
    flex-direction: column;
    margin: 0;
  }
  .uor-features{
    margin-left: 50px auto;
  }
  .sponsor-companies, .facts-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }
}









